<form method="POST" action="/api/addnewstudent">
    <label>Student's Name: </label>
    <input name="name" />
    <label>Course: </label>
    <input name="course" />
    <label>Phone: </label>
    <input name="phone" />
    <button type="submit">add new</button>
</form>